* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --blue: #18B5DC;
    --white: #fff;
    --grid-gap: 30px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

hr {
    border: 2px solid #DDDBDB;
}

.social {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 42px;
    height: 42px;
    border: 1px solid var(--blue);
    background-color: var(--white);
    text-decoration: none;
    color: var(--blue);
}

.social:hover {
    background-color: var(--blue);
    color: var(--white);
}

.menu .menu__item {
    display: inline-block;
}

.menu .menu__item + .menu__item {
    padding-left: 30px;
}